doctype html
html
  head
    meta(charset='utf-8')
    title お店の情報を登録しよう! OpenStreetMapはじめてガイド
  body.markdown-preview(data-use-github-style='')
    h1(id='お店の情報を登録しよう-openstreetmapはじめてガイド') お店の情報を登録しよう! OpenStreetMapはじめてガイド
    p
      strong みんなでテイクアウトMAP
      | は、みんなで編集できるみんなの地図
      a(href='https://www.openstreetmap.org/')
        strong OpenStreetMap
      | のデータに基づいています。
    p
      | OpenStreetMapのデータはだれでも編集可能です。地元のお店やお気に入りのお店の情報が不足していたり間違っていたりしたら、すぐに変更することができます。お店自体が登録されていなくても、新しく登録することができます。編集は一般的なWebブラウザで簡単にできますので、ぜひこの機会にOpenStreetMapを編集してみませんか?
      | OpenStreetMapを編集するにはアカウントを持っている必要があります。アカウントは誰でも作成することができます。
    ul
      li
        a(href='#login')
          | OpenStreetMapのアカウントを
          strong 持っている
          | 方はこちらからスタート
      li
        a(href='#register')
          | OpenStreetMapのアカウントを
          strong 持っていない
          | 方はこちらからスタート
    h2(id='アカウントの作成a-nameregistera')
      | アカウントの作成
      a(name='register')
    p
      | OpenStreetMapのアカウントをお持ちでない方は、
      a(href='https://www.openstreetmap.org/user/') ユーザ登録ページ
      | で登録を行ってください。メールアドレスや表示名 (OpenStreetMap上で表示されるあなたの名前です) を入力すると、登録したメールアドレス宛にメールが届きますので、メールの内容に従って登録を完了させてください。
    img(alt='ユーザ登録', style='max-width:320px;max-height:320px', src='img/register.png')
    p その他のSNSなど外部アカウントとの連携も可能ですので、 (TODO: 参考ページ)
    h2(id='ログインa-namelogina')
      | ログイン
      a(name='login')
    p
      | すでにOpenStreetMapのアカウントをお持ちの場合は、
      a(href='https://www.openstreetmap.org/login') ログインページ
      | からログインします。
    img(alt='ログイン', style='max-width:320px;max-height:320px', src='img/login.png')
    h2(id='編集する') 編集する
    p お店のある地域にズームインします。
    p 地図を動かしながらズームインしていくこともできます。
    img(alt='地図が表示されます', style='max-width:320px;max-height:320px', src='img/map_japan.png')
    p 左上の検索ボックスに住所や駅名などを入れると検索できます。
    img(alt='地名で検索', style='max-width:320px;max-height:320px', src='img/map_search.png')
    p
      | お店のあるエリアが表示されたらいよいよ編集開始です。画面のいちばん上にある「編集」を選びます。初めてでもすぐに使える「iD (ブラウザー内エディター) で編集」を選びます。
    img(alt='編集開始', style='max-width:320px;max-height:320px', src='img/select_editor.png')
    p ブラウザー内エディター「iD」が起動します。起動には少し時間がかかる場合があります。起動が完了すると、航空写真の上に道路や建物や施設の情報が表示されます。
    img(alt='オンラインエディタiD', style='max-width:320px;max-height:320px', src='img/id.png')
    p 地図の右に表示される「+」「-」ボタンを使い、店舗を追加したい位置に向かってズームしたら、編集準備完了です。
    img(alt='オンラインエディタiD', style='max-width:320px;max-height:320px', src='img/zoom.png')
    ul
      li
        a(href='#add')
          strong お店自体を登録する
          | ところからスタートする場合
      li
        a(href='#edit')
          strong お店の情報を編集する
          | 場合
    h2(id='新しいお店を登録a-nameadda')
      | 新しいお店を登録
      a(name='add')
    p 画面上のメニューから「ポイント」を選びます。
    img(alt='ポイント」を選択', style='max-width:320px;max-height:320px', src='img/add_point.png')
    p
      | カーソルが十字に変わるので、追加したい地点を地図上でクリックします。
      | 追加する位置はお店の中心部に相当する位置を目安にしてください。
    img(alt='ピンを追加', style='max-width:320px;max-height:320px', src='img/add_pin.png')
    p
      | 白いピンが立ち、赤く点滅し、左に地物 (地図上のモノのことをこう呼びます) の種類を選択する画面が現れますので、追加したいお店の種類を選んでください。
      | 地物の種類はたくさんありますので、虫眼鏡アイコンのあるテキストボックスで絞り込むのがおすすめです。
    img(alt='「レストラン」の検索', style='max-width:320px;max-height:320px', src='img/search_type.png')
    p どれに分類するか曖昧な場合は、あまり悩まずに最も近そうなものを選べばOKです。よく使われる分類は以下のようなものがあります。
    ul
      li レストラン : 食事のできるお店。
      li ファストフード : すばやく食事を済ませることができる比較的低価格なお店。ハンバーガーやピザなど、細かい分類もあります。
      li 喫茶店 : ノンアルコールの飲み物がメインのカフェなど。
      li 居酒屋 : お酒と食べ物を提供するお店。
      li バー : お酒をメインとするお店。
    img(alt='「レストラン」を選択', style='max-width:320px;max-height:320px', src='img/add_restaurant.png')
    p
      | 選択したいお店の種類がグレーで表示され、「ポイントが非表示となっています。ズームインして有効化してください。」と表示される場合、ズームが足りません。地図の右にある「+」「-」ボタンでズームインしてください。
    img(alt='編集できない場合', style='max-width:320px;max-height:320px', src='img/restaurant_unavailable.png')
    p 「名称」の欄に、お店の名前を記入します。
    img(alt='お店の名前を入力', style='max-width:320px;max-height:320px', src='img/input_name.png')
    h2(id='お店の情報を編集するa-nameedita')
      | お店の情報を編集する
      a(name='edit')
    p お店をクリックします。
    p
      | OpenStreetMapでは、お店の色々な情報を登録することができます。
      | たとえば営業時間や料理のジャンル、そしてテイクアウトやデリバリーの情報などなど。
    img(alt='TODO', style='max-width:320px;max-height:320px', src='img/add_tag.png')
    p 「可能」「不可能」「持ち帰りのみ」の選択肢が表示されますので、該当するものを選んでください。
    img(alt='TODO', style='max-width:320px;max-height:320px', src='img/input_takeaway_value.png')
    p これで「このお店はお持ち帰りが可能」という情報が入力できました。
    img(alt='TODO', style='max-width:320px;max-height:320px', src='img/input_takeaway_value_done.png')
    p 配達の可否も同様に入力することができます。こちらはチェックボックスで選択する方式になっています。
    img(alt='TODO', style='max-width:320px;max-height:320px', src='img/input_delivery_value.png')
    img(alt='TODO', style='max-width:320px;max-height:320px', src='img/input_delivery_value_done.png')
    h2(id='保存') 保存
    p
      | うまく編集できましたか? この時点ではまだ、変更した内容はOpenStreetMapに反映されていません。
      strong 保存
      | することによって、全世界に向けて情報を発信することができます。
    p 画面右上の「保存」をクリックします。
    img(alt='TODO', style='max-width:320px;max-height:320px', src='img/commit.png')
    p 保存する際には、「何を変更したのか」を「変更セットのコメント」として添えます。
    img(alt='TODO', style='max-width:320px;max-height:320px', src='img/commit_message.png')
    p
      | この内容でOK! と思ったら、「アップロード」をクリック。これで変更内容がOpenStreetMapのサーバに送信され、しばらくすると全世界に公開されます。そのうちみんなでテイクアウトMAPにも反映されます。おめでとうございます! OpenStreetMapデビューに成功です!
    h2(id='openstreetmapにもっと参加したいと思ったら') OpenStreetMapにもっと参加したいと思ったら
    p
      | ここでは、お店をひとつ追加したり、お店のお持ち帰りや配達の情報を記入したりする方法を紹介しました。OpenStreetMapの編集にはもっとたくさんの楽しみ方があります。
    ul
      li 商店や医院、史跡や公園の遊具などを追加したり
      li お店のもっと詳しい情報を追加したり
      li 道路や河川を編集したり
      li 世界中の人たちと地図作りについてコミュニケーションしたり
    p OpenStreetMapに興味をもたれたら、ぜひこちらのガイドもご覧ください。
    ul
      li
        a(href='https://wiki.openstreetmap.org/wiki/JA:%E5%88%9D%E5%BF%83%E8%80%85%E3%82%AC%E3%82%A4%E3%83%89') 初心者ガイド
